@model BussPushNotification.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>SignUp</title>
</head>
<body>
    <div class="login-form">
        <h1 class="login-text">Let's get acquainted!</h1>

        <form method="post">
            <input name="UserName" type="text" placeholder="Username" required />
            <input name="UserPassword" type="password" placeholder="Password" required />
            <input name="RepeatedPassword" type="password" placeholder="Repeat password" required />
            <input name="UserEmail" type="email" placeholder="smth@gmail.com" required />
            <button type="submit">Check in</button>
        </form>
        <div class="login-separator">
            OR
        </div>
        <div class="alternative-items">
            <div class="alternative-item">
                <a href="/Home">
                    Home
                </a>
            </div>
            <div class="alternative-item">
                <a href="/Login">
                    Login in
                </a>
            </div>
        </div>
    </div>
</body>
</html>