<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/HomePage2.css"/>
    <title>BussNotification</title>
</head>
<body>
    <div class="intro">
        <div class="container">
        </div>
    </div>
</body>
</html>
