<!DOCTYPE html>

<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/HomePage.css"/>
    
    <title>BussNotification</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner flex-row">
                <div class="header-title">
                    <h1>BUS ALERT</h1>
                </div>
                               
                <nav class="nav">
                    <a class="nav-link" href="#">
                        About us
                    </a>
                    <a class="nav-link" href="#">
                        Sign in
                    </a>
                    <a class="nav-link" href="#">
                        Sign Up
                    </a>
                </nav>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            
        </div>
    </div>
</body>
</html>
