/* Reset the margin of all heading elements */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Eras ITC', serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Styles for the container div */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Styles for the header section */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.header-title {
    font-size: 24px;
    color: #1050e6;
    font-weight: bold;
    padding: 10px;
}


/* Styles for the flex-row class */
.flex-row {
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Styles for the nav section */
.nav {
    margin-left: auto;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

/* Styles for the nav links */
.nav-link {
    display: inline-block;
    margin: 20px;
    position: relative;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    transition: color .3s linear;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
/* Styles for the nav links on hover */
.nav-link:hover {
    color: #1050e6;
}

.nav-link:hover::after {
    opacity: 1;
}

.section{
    padding: 80px 0;
}

.section-header {
    width: 100%;
    max-width: 1000px;
    margin: 40px 0 40px 0;
    text-align: center;
}