@font-face {
    font-family: 'Ultra';
    src: url('../Fonts/Ultra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Roboto";
    src: url('../Fonts/Roboto/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') 
    format('truetype');
}
/* Reset the margin of all heading elements */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Eras ITC', serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Styles for the container div */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

/* Styles for the header section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* добавить тень для header */
    overflow: hidden; /* добавить свойство overflow */
    text-overflow: ellipsis; /* добавить свойство text-overflow, чтобы скрыть текст, который не помещается */
    white-space: nowrap; /* добавить свойство white-space, чтобы текст не переносился */
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.header-title {
    font-size: 24px;
    color: #1050e6;
    font-weight: bold;
    padding: 10px;
}

/* Styles for the flex-row class */
.flex-row {
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Styles for the nav section */
.nav {
    margin-left: auto;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

/* Styles for the nav links */
.nav-link {
    display: inline-block;
    margin: 20px;
    position: relative;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    transition: color .3s linear;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
/* Styles for the nav links on hover */
.nav-link:hover {
    color: #1050e6;
}

.nav-link:hover::after {
    opacity: 1;
}

.section{
    padding: 80px 0;
    
}

.section-header {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.section-title{
    font-family: Ultra;
    font-size: 30px;
    font-weight: 400;
}

.section-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #db0762;
}

.section-text{
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #3f848e;
}