.about {
    display: flex;
    justify-content: space-between;
}

.about-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.about-img {
    position: relative;
    width: 100%;
    max-height: 330px;
    transition: transform .1s linear;
}

.about-img:hover {
    transform: translate(-10px, -10px);
}

.about-img:hover img {
    opacity: 0.2;
}

.about-img img {
    display: block;
    transition: opacity .2s linear;
}

.about-img.linear-gradient {
    background: linear-gradient(to bottom, #dadc06, #cea00d);
}

.about-img.radial-gradient {
    width: 300px;
    border-radius: 100%;
    background: radial-gradient(circle at center, #dadc06, #cea00d);
}

.about-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: box-shadow .1s linear;
}

.about-img:hover::before {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.about-img.linear-gradient::before {
    border-radius: 0;
}

.about-img.radial-gradient::before {
    border-radius: 100%;
}

.about-text{
    width: 100%;

    font-family: Roboto;
    color: #fff;
    text-transform:uppercase;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    opacity:0;

    position:absolute;
    top:50%;
    left:0;
    z-index:2;
    transform: translate3d(0,-50%,0);

    transition: opacity .1s linear;
}

.about-item:hover .about-text{
    opacity:1;
}