.about{
    display: flex;
    justify-content: space-between;
}

.about-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.about-item:hover .about-img img{
    opacity: .5;
}

.about-img {
    
    max-height: 330px;
}

.about-img img {
    display: block;
    transition: opacity .1s linear;
}

.about-img.linear-gradient {
    background: linear-gradient(to bottom, #ff0000, #ffff00);
}

.about-img.radial-gradient {
    width: 300px;
    border-radius: 100%;
    background: radial-gradient(circle at center, #ff0000, #ffff00);
}

