<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Identity</title>
</head>
<body>
    <div class="m-2">
        <h5 class="bg-secondary text-white text-center p-2">Role Administration</h5>
        @RenderBody()
    </div>
</body>
</html>
