@model List<Route>
<table class="table m-5">
    <thead style="font-size: 32px;
                  text-align:center">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Route</th>
            <th scope="col">Arrival</th>
            <th scope="col">Delay</th>
        </tr>
    </thead>
    <tbody style="font-size: 24px;
                  text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.RouteNumber
                </td>
                <td>
                    @item.Arrival
                </td>
                <td>
                    @item.delay.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn d-flex align-items-center justify-content-between p-0 m-5" style="width: 100px;">
    <i class="bi bi-plus-circle-fill flex-row" style="color: cornflowerblue; font-size:32px;"></i>
    <h3 class="flex-row m-0">Add</h3>
</a>