<table class="table m-5">
    <thead style="font-size: 32px;
                  text-align:center">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Route</th>
            <th scope="col">Arrival</th>
            <th scope="col">Delay</th>
        </tr>
    </thead>
    <tbody style="font-size: 24px;
                  text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Гатчина, Въезд
                </td>
                <td>
                    К18
                </td>
                <td>
                    8:30
                </td>
                <td>
                    10 минут
                </td>
            </tr>
        }
    </tbody>
</table>