<table class="table">
    <thead>
        <tr>
            <th scope="col">Stop name</th>
            <th scope="col">Root number</th>
            <th scope="col">Arrival</th>
            <th scope="col">Delay</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in )
        {*@
            <tr>
                <td>
                    Гатчина, Въезд
                </td>
                <td>
                    К18
                </td>
                <td>
                    8:30
                </td>
                <td>
                    10 минут
                </td>
            </tr>
       @* }*@
    </tbody>
</table>