@page
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h4 class="bg-danger text-white text-center p-2">Access denied</h4>
<div class="m-2">
    <h6>You are not authorized for this URL</h6>
    <a class="btn btn-outline-danger" href="/">OK</a>
    <a class="btn btn-outline-secondary" asp-action="login" asp-controller="authentication">Login</a>
</div>
