<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.10.5/font/bootstrap-icons.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="d-flex">
        <div class="col d-flex flex-column vh-100 shadow flex-grow-0">
            <nav class="navbar d-flex flex-column align-items-start h-100 p-4">
                <ul class="navbar-nav w-100">
                    <li class="nav-item d-flex flex-row align-items-center">
                        <i class="bi bi-person-circle bi-md"></i>
                        <a class="nav-link px-0 mx-4 my-4" asp-action="Profile" asp-controller="Account">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 my-4" asp-action="Routes" asp-controller="Route">Routes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 my-4" asp-action="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0 my-4" asp-action="/">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-10 d-flex flex-column">
            @RenderBody()
        </div>
    </div>
</body>
</html>
