<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/HomePage.css"/>
    <title></title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner flex-row">
                <div class="header-title">
                    <h1>BUS ALERT</h1>
                </div>

                <nav class="nav">
                    <a class="nav-link" asp-controller="About" asp-action="Index" href="/About">
                        About us
                    </a>
                    <a class="nav-link" href="#">
                        Sign in
                    </a>
                    <a class="nav-link" href="#">
                        Sign Up
                    </a>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody();
    
</body>
</html>
