<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/_Layout.css"/>
    <title></title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner flex-row">
                <div class="header-title">
                    <h1>
                        <a asp-controller="Home" asp-action="Index" href="/Home">
                            BUS ALERT
                        </a>
                    </h1>
                </div>

                <nav class="nav">
                    <a class="nav-link" asp-controller="Home" asp-action="AboutPage" href="/About">
                        About us
                    </a>
                    <a class="nav-link" href="/Login">
                        Login
                    </a>
                </nav>
            </div>
        </div>
    </header>
    
    @RenderBody()
    
    
    
</body>
</html>
