<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/HomePage2.css" />
    <title>AboutUs</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="section-header">
                <h2>What we do</h2>
            </div>
        </div>
    </section>
</body>
</html>
