<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/About.css" />
    <title>AboutUs</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">What we do</h3>
                <div class="section-text">
                    <p>
                        This project is designed to help users avoid being late for work, school, or meetings.
                        Effortlessly set up push notifications with a customizable delay to alert you when a bus is arriving at your stop.
                        This feature ensures you stay on top of your schedule and always arrive on time.
                    </p>
                </div>
                
                <div class="About">

                </div>
            </div>
        </div>
    </section>
</body>
</html>
