@model BussPushNotification.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>SignIn</title>
</head>
<body>
    <div class="login-form">
        <h1 class="login-text">Welcome!</h1>
        <form method="post">
            <input type="hidden" asp-for=ReturnUrl/>
            <input type="text" asp-for=UserName placeholder="Username" required>
            <input type="password" asp-for=UserPassword placeholder="Password" required>
            <div asp-validation-summary="All" style="color:red"></div>
            <button type="submit" class="btn btn-primary btn-sm">Log in</button>
        </form>
        <div class="login-separator">
            OR
        </div>
        <div class="alternative-items">
            <div class="alternative-item">
                <a asp-action="Index" asp-controller="Home">
                    Back
                </a>
            </div>
            <div class="alternative-item">
                <a asp-action="SignUpForm">
                    Sign up
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>