@model BussPushNotification.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>SignUp</title>
</head>
<body>
    <div class="login-form">
        <h1 class="login-text">Let's get acquainted!</h1>
        <form method="post">
            <div asp-validation-summary="All" style="color: red"></div>
            <input type="hidden" asp-for="ReturnUrl" value="/Login"/>
            <input asp-for="UserName" type="text" placeholder="Username" required />
            <input asp-for="UserPassword" type="password" placeholder="Password" required />
            <input asp-for="RepeatedPassword" type="password" placeholder="Repeat password" required />
            <input asp-for="UserEmail" type="email" placeholder="smth@gmail.com" required />
            <button type="submit">Check in</button>
        </form>
        <div class="login-separator">
            OR
        </div>
        <div class="alternative-items">
            <div class="alternative-item">
                <a asp-action="Index" asp-controller="Home">
                    Home
                </a>
            </div>
            <div class="alternative-item">
                <a asp-action="login">
                    Login in
                </a>
            </div>
        </div>
    </div>
</body>
</html>